.App {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculatorWrapper {
    width: 359px;
    border-radius: 39px;
    background: #1C1C1C;
}

.screenWrapper {
    width: 359px;
    height: 220px;
    border-bottom: 1px solid #D9D9D9;
}

.buttonsWrapper {
    width: 359px;
    height: 442px;

}
